bin/dlv
bin/goimports
bin/gomodifytags
bin/goplay
bin/gopls
bin/gotests
bin/impl
bin/staticcheck
src/assets/fonts
src/assets/textures
src/assets/levels
src/assets/bindata.go
src/assets/share.svg
src/assets/close-circle.svg
src/assets/rectangle.svg
src/chezmoi
src/chezmoi.exe
src/.DS_Store